language: php

services:
  - mongodb

php:
  - 5.3
  - 5.4
  - 5.5

before_script:
  - composer self-update
  - composer install --dev --prefer-source

script:
  - ./vendor/bin/phpunit
  - ./bin/check-cs.sh
  
notifications:
  irc: "irc.freenode.org#apigility-dev"
  email: false
