<?php
return array(
    'zf-oauth2' => array(
        'db' => array(
            'dsn'      => 'insert here the DSN for DB connection', // for example "mysql:dbname=oauth2_db;host=localhost"
            'username' => 'insert here the DB username',
            'password' => 'insert here the DB password',
        ),
        'allow_implicit' => false, // default (set to true when you need to support browser-based or mobile apps)
        'enforce_state'  => true   // default
    ),
);
